<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <!-- ページ情報 -->
  <p>
    全<%= @users.total_count %>件中
    <%= @users.offset_value + 1 %>〜<%= @users.offset_value + @users.length %>件を表示
  </p>
  
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
        <!-- 管理者だけに基本時間と勤務時間の列を表示 -->
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <%= render 'user_row', user: user %>
      <% end %>
    </tbody>
  </table>
  
  <!-- ページネーションリンク -->
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>
